.button {
  display: block;
  border: 0;
  padding: 12px 0 10px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;
  &--small {
    font-size: 14px;
  }
}
.button--grey {
  background-color: $basic-light;
  color: $basic-grey-dark;
}
