.button {
  display: block;
  border: 0;
  padding: 11px 0 11px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  background-color: $basic-green;

  &--small {
    font-size: 14px;
  }

  &:hover {
    background-color: $special-green;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}

.button--grey {
  background-color: $basic-light;
  color: $basic-grey-dark;
}
