.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 38px;
  }
}
.catalog__item {
  margin-bottom: 24px;
  &::after {
    @include top-border-grey;
  }
}
