.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: flex-start;
  }
  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 170px;
  }
  .copyright__logo {
    position: relative;
    left: 6px;
    width: 40px;
    height: 40px;
    fill: $special-grey-dark;
  }
  &:hover .copyright__logo {
    fill: $basic-green;
  }
  &:active {
    opacity: 0.3;
  }
}
.copyright__text {
  font-family: $font-arial;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey-dark;
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 11px;
    margin-top: 7px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}
