.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.copyright__text {
  font-family: $font-arial;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey-dark;
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 24px;
    margin-top: 7px;
  }
}
