.custom-program__description {
  margin: 0;
  margin-bottom: 39px;
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}
