.dealers {
  background-color: $basic-light;
  &--light {
    background-color: $basic-white;
  }
}
.dealers__inner {
  display: flex;
  margin: 0 auto;
  padding: 28px 20px 22px;
  width: 320px;
}

.dealers__invite {
  margin: 0;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.dealers__address {
  margin: 0;
  width: 50%;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 20px;
}
.dealers__map-wrapper {
  position: relative;
  min-height: 362px;
}
.dealers__interactive-map {
  position: relative;
  z-index: 5;
  border: 0;
  width: 100vw;
  height: 362px;
}
.dealers__map-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin: 0 auto;
  width: 320px;
  height: 362px;
}
