.dealers {
  background-color: $basic-light;
  &--light {
    background-color: $basic-white;
  }
}
.dealers__inner {
  display: flex;
  margin: 0 auto;
  padding: 28px 20px 22px;
  width: 320px;
}

.dealers__invite {
  margin: 0;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.dealers__address {
  margin: 0;
  width: 50%;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 20px;
}
