.example {
  padding-top: 27px;
  padding-bottom: 31px;
  width: 100vw;
  background-color: $example-bg;
}
.example__inner {
  margin: 0 auto;
  width: 280px;
  outline: 1px solid red; /* DELETE */
}
.example__title {
  margin-bottom: 33px;
}
.example__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
}
.example__sup-title {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
