.form {
  padding-bottom: 27px;
}
.form__category {
  margin: 0;
  border: 0;
  padding: 0;
  &--border-special {
    position: relative;
    &::after {
      @include top-border-grey;
    }
  }
  &--goal {
    position: relative;
    padding-top: 26px;
    &::after {
      @include top-border-grey;
    }
    @media (min-width: $tablet-width) {
    border: 1px solid $input-border;
    padding-top: 29px;
    padding-left: 44px;
    padding-bottom: 5px;
    }
  }
  &--cat-info {
    margin-bottom: 13px;
    @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    }
    @media (min-width: $desktop-width) {
    margin-bottom: 0;
    }
  }
  &--contacts {
    padding-top: 28px;
    @media (min-width: $tablet-width) {
      padding-top: 76px;
  }
    @media (min-width: $desktop-width) {
      padding-top: 50px;
  }
  }
  &--comment {
    margin-bottom: 14px;
    padding-top: 13px;
    @media (min-width: $tablet-width) {
      padding-top: 45px;
      margin-bottom: 45px;
    }
    @media (min-width: $desktop-width) {
    margin-bottom: 49px;
    }
  }
  &--extra {
    @media (min-width: $desktop-width) {
      margin-bottom: 6px;
    }
  }
}
.form__legend-wrapper {
  display: inline-block; /* Чтобы линизя прияталась за Легендой */
  position: relative;
  z-index: 999;
}
.form__legend {
  position: relative;
  z-index: auto;
  margin-bottom: 34px;
  padding-right: 22px;
  font-size: 24px;
  line-height: 26px;
  background-color: #fff;
  &--extra {
    margin-bottom: 40px;
    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
  }
  }
  &--contacts {
    @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
  }
  &--comment {
    @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  }
  &--green {
    position: relative;
    right: 39px;
    padding-left: 39px;
    padding-right: 19px;
    &::after {
      @include beforeafter;
      top: 16px;
      right: calc(-1 * ((#{$mobile-width} - 100% + 39px) + ((100vw - #{$mobile-width}) / 2));
      z-index: -3;
      width: calc((#{$mobile-width} - 100% + 39px) + ((100vw - #{$mobile-width}) / 2); /* Ширина контейнера минус ширина самой легенды, плюс половина VW за минусом ширины контейнера плюс левый паддинг*/
      height: 2px;
      background-color: $basic-green;
      @media (min-width: $tablet-width) {
      right: auto;
      z-index: -1;
      left: calc((100vw - #{$tablet-width}) / -2); /* Начало элемента минус левый VW */
      padding-left: 39px;
      padding-right: 42px;
      width: 100vw;
      }
      @media (min-width: $tablet-width) {
        top: 22px;
  }
      @media (min-width: $desktop-width) {
      left: calc(((100vw - #{$desktop-width}) / -2) + 39px);
      }
  }
  @media (min-width: $tablet-width) {
    padding-right: 41px;
    font-size: 36px;
    line-height: 36px;
    br {
      display: none;
    }
  }
}
}
.form__data-field,
.form__option {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 13px;
  @media (min-width: $tablet-width) {
  margin-bottom: 20px;
  }
}
.form__data-field {
  position: relative;
  margin-left: 1px;
}
.form__data-field-icon {
    position: absolute;
    right: 16px;
    top: 16px;
    &--mail {
      top: 20px;
    }
}
.form__data-input:focus + .form__data-field-icon {
  fill: $basic-green;
}
.form__data-input:focus:invalid + .form__data-field-icon {
  fill: $color-error;
}
.form__option {
  margin-bottom: 25px;
  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
  &--addon {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
  }
  }
}
.form__data-label,
.form__option-label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__data-label {
  margin-right: 10px;
  white-space: nowrap;
  @media (min-width: $tablet-width) {
  margin-right: 19px;
  }
}
.form__data-input {
  flex-grow: 1;
  border: 1px solid $input-border;
  padding-top: 14px;
  padding-left: 17px;
  padding-bottom: 13px;
  min-height: 45px;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;
  &:focus {
    border: 2px solid $basic-grey-dark;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 16px;
    outline: 0;
    &:invalid {
    border: 2px solid $color-error;
    outline: 0;
  }
  }
  &::placeholder {
    font-family: $font-oswald;
    font-size: 16px;
    line-height: 18px;
    color: $basic-black;
    text-transform: uppercase;
    @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    }
  }
  @media (min-width: $tablet-width) {
    min-height: 52px;
    padding-top: 19px;
    padding-bottom: 10px;
    &:focus {
      padding-top: 18px;
      padding-bottom: 9px;
    }
  }
  &--comment {
    padding-top: 13px;
    padding-left: 14px;
    min-height: 150px;
    &:focus {
      padding-top: 12px;
      padding-left: 13px;
    }
    @media (min-width: $tablet-width) {
      padding-top: 10px;
      padding-left: 18px;
      min-height: 174px;
      &:focus {
        padding-top: 9px;
        padding-left: 17px;
      }
  }
  }
  &--email {
    padding-left: 19px;
    &:focus {
      padding-left: 18px;
    }
  }
}
.form__addons-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 41px;
    margin-bottom: 59px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
.form__contacts-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
  }
}
.form__button-submit {
  margin-top: 13px;
  width: 100%;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 16px 0 16px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
   width: 568px;
  }
}
.form__required-fields {
  display: block;
  margin-top: 21px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    align-self: center;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
  }

}
// Pseudo Inputs - Hide Default
.form__option-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  font-size: 0;
}
// Pseudo Inputs - Radio
.form__option-input[type="radio"] + .form__option-label {
  padding-left: 46px;
  @media (min-width: $tablet-width) {
    padding-left: 44px;
  }
}
.form__option-input[type="radio"] + .form__option-label::before {
  @include beforeafter;
  top: -4px;
  left: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid $stat-list-border;
  @media (min-width: $tablet-width) {
    top: -5px;
    left: -13px;
    width: 40px;
    height: 40px;
  }
  @media (min-width: $desktop-width) {
    left: -16px;
  }
}
.form__option-input[type="radio"]:checked + .form__option-label::before {
  background-image: url("../../img/icons/radio-button.svg");
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;
  @media (min-width: $tablet-width) {
    background-size: 18px 18px;
  }
}
.form__option-input[type="radio"]:hover + .form__option-label::before {
    border: 1px solid $stat-list-hover;
  }
.form__option-input[type="radio"]:active + .form__option-label::before,
.form__option-input[type="radio"]:active + .form__option-label {
    opacity: 0.3;
  }

// Pseudo Inputs - Checkbox
.form__option-input[type="checkbox"] + .form__option-label {
  padding-left: 46px;
  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }
}
.form__option-input[type="checkbox"] + .form__option-label::before {
  @include beforeafter;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $stat-list-border;
  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}
.form__option-input[type="checkbox"]:checked + .form__option-label::before {
  background-image: url("../../img/icons/checkbox.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.form__option-input[type="checkbox"]:hover + .form__option-label::before {
    border: 1px solid $stat-list-hover;
  }
.form__option-input[type="checkbox"]:active + .form__option-label {
    color: rgba($basic-black, 0.3);
}
.form__option-input[type="checkbox"]:active + .form__option-label::before {
  border: 1px solid rgba($stat-list-hover, 0.3);
}
// Desktop grid
.form__grid-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  }
}
