.header__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    width: $tablet-width;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    padding-top: 53px;
    width: $desktop-width;
  }
}
.header__wrapper-top {
  display: flex;
  margin: 0 auto;
  padding: 12px 0 17px;
  width: 277px;
  align-items: center;
  position: relative;
  @media (min-width: $tablet-width) {
    margin: 0;
    border: 0;
    padding: 0;
    width: auto;
  }
}
.header__logo {
  width: 190px;
  height: 38px;
}
.header__toggle {
  margin-left: auto;
  border: 0;
  width: 18px;
  height: 18px;
  background-image: url("../../img/icon-close.svg");
  background-color: $basic-white;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
