.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
