.stat-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 366px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}
.stat-list__item {
  position: relative;
  border: 1px solid $stat-list-border;
  width: 124px;
  min-height: 55px;
  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
  }
}
.stat-list__value {
  position: relative;
  z-index: 1;
  padding: 14px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
.stat-list__name {
  position: absolute;
  z-index: 2;
  bottom: -18px;
  left: 49%;
  transform: translateX(-50%);
  padding: 0 10px;
  width: 82px;
  font-family: $font-arial;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $example-bg;
  @media (min-width: $tablet-width) {
    bottom: -6px;
    width: 150px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }
  @media (min-width: $desktop-width) {
    background-color: $basic-light;
  }
}
