*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 280px;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    width: $content-tablet;
  }
  @media (min-width: $desktop-width) {
    width: $content-desktop;
  }
  &--special {
    @media (min-width: $tablet-width) {
      width: 630px;
    }
    @media (min-width: $desktop-width) {
      width: 1220px;
    }
  }
}
.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
